In [13]:
import pandas as pd

In [14]:
dados = pd.read_csv(r'houses-pricing.csv')

In [16]:
dados.head()

    area   ano  garagem   preco
0   8450  2003        2  208500
1   9600  1976        2  181500
2  11250  2001        2  223500
3   9550  1915        3  140000
4  14260  2000        3  250000

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
X = dados.drop(columns='preco').copy()
y = dados['preco'].copy()

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr = LinearRegression()

In [25]:
modelo = lr.fit(X_train, y_train)

In [28]:
import pickle

In [29]:
# fazendo a serealização do modelo
pickle.dump(modelo, open('modelo.sav', 'wb'))

In [ ]:
{
    "tamanho":120,
    "ano": 2001,
    "garagem": 2
}